.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 27.5px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout-background {
  background: rgb(255, 255, 255);
}

.site-layout {
  background: rgb(95, 107, 122);
  position: 'fixed';
  z-index: 1;
  width: '100%'
}

.icon-color {
  color:rgb(255, 255, 255)
}